body {
padding-top: 50px; /* for nav */
}
html, body {
height: 100%;
width: 100%;
overflow: hidden;
}
#map-canvas {
position:absolute; 
width:100%;
height:100%; 
margin:0; 
padding:0;
}

.container{
	padding-top: 50px;
	margin-top: 50px;
}

.search-object{
	margin-bottom: 5px !important;
}

.remove-mp-bottom{
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}

.panel-size{
	max-height: 400px !important;
	overflow-y: scroll;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#filter_container{
	height:50px;
	padding-top: 8px;
	padding-left: 15px;
}

.icon_counter_green {
    background-color      : #3c3;
}

.icon_counter {
    color                 : #fff;
    font-family           : "Arial";
    font-size             : 14px;
    font-weight           : 600;
    
    position              : absolute;

    padding               : 0px 2px;
    margin-top            : 6px;
    margin-left           : -3px;

    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px;

    -webkit-box-shadow    : inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow       : inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    box-shadow            : inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);

    
}

.nav {
    padding: 0px;
}